# Visual Studio Code
.vscode

# Environment Variables
.env

# Backend
__pycache__/
/backend/venv

# Frontend Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# Frontend Testing
/frontend/coverage

# Frontend Next.js
/frontend/.next/
/frontend/out/

# Frontend Production
/frontend/build

# Frontend Misc
/frontend/.DS_Store
/frontend/*.pem

# Frontend Debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# Frontend .env
/frontend/.env

# Frontend Vercel
/frontend/.vercel

# Frontend TypeScript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
